@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap");

.SignUp {
	position: absolute;
	width: 100px;
	height: 64px;
	left: 100px;
	top: 627px;

	background: #205f98;
	border-radius: 10px;
}

.loginButton {
        position: absolute;
        width: 240px;
        height: 64px; 
        left: 80%;
        top: 627px;

}

.Title {
        position: absolute;
        width: 300px;
        height: 83px;
        left: 180px;
        top: 30px;
        
        font-family: Sora;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 83px;
        
        background-color: white;
        color: #205F98;  
}

/* body --> content and photos */


.Body {
        position: relative;
        top: 0px;
        left: 0px;
}

.Content {
        position: relative;
        top: 10%;
        left: 0px;

}

.About {
        position: relative;
        order: 1;
        width: 606px;
        height: 180px;
        left: 70px;
        top: 200px;
        font-family: Sora;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 71px;
        color: #205F98;
        text-align: left;
}
.AboutDescription{
        position: relative;
        order: 0;
        width: 650px;
        height: 60px;
        left: 70px;
        top: 170px;
        text-align: left;
        font-family: Sora;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 40px;
        color: #C3DBEF;

}

.photos {
        position: relative;
        top: -80px;
        left: 46%; 
        width: auto;
        height: auto;
}

.loginPhoto{
        position: absolute;
        width: 714px;
        height: 448px;
        left: 0px;
        opacity: 100%;
}

.upcomingTasksPhoto{
        /* upcoming tasks */
        position: relative;
        width: 497px;
        height: 203px;
        left: 218px;
        top: -120px;
        opacity: 50%;

}
.weeklyCalendarPhoto{
        /* weekly calendar */
        position: relative;
        width: 422px;
        height: 235px;
        left: -500px;
        top: 296px;
        opacity: 50%;
}
.calendarPhoto{ 
        /* calendar */
        position: relative;
        width: 250px;
        height: 248px;
        left: -455px;
        top: 290px;
        opacity: 50%;

}



.logo {
	position: absolute; 
	width: 120px;
	left: 58px;
	top: 12px;

}